@import './Variables.scss';

nav {
  background: $color-theme-main;

}

.nav {
  &__outter {
    width: 100%;
  }

  &__inner {
    max-width: 2000px;
    padding: .5rem 0;

    &-logo {
      h2 {
        color: $sunny;
        text-transform: uppercase;
      }
    }
  }
}