@import './Variables.scss';

nav {
  background: $color-theme-main;
}

.nav {
  &__outter {
    width: 100%;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 97%;
    margin: 0 auto;
    max-width: 2000px;
    padding: .5rem 0;

    &-logo {
      h3 {
        color: $sunny;
        text-transform: uppercase;
      }
    }
  }
}

.search__box {
  position: relative;

  &__input {
    border: 1px solid $sunny;
    padding-left: .5rem;
    border-radius: 15px;
    margin-left: .3rem;
  }

  .fa-search {
    position: absolute;
    right: .6rem;
    top: .4rem;

    color: $sunny;
    font-weight: bold;
  }

  &:hover {
    .fa-search {
      opacity: .6;
    }
  }
}